<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507452744050-shh35u8h3kh08soefbuaa70d9qv7bklj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507452744050-shh35u8h3kh08soefbuaa70d9qv7bklj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>507452744050-jstepm5p0eq0pcsv8ottmv2k7g2jn9nv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDTGKERWFnW-ktuIvep3H4zMCdGBI33sg</string>
	<key>GCM_SENDER_ID</key>
	<string>507452744050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.procode.wadinisafe</string>
	<key>PROJECT_ID</key>
	<string>wadinisafe-5475f</string>
	<key>STORAGE_BUCKET</key>
	<string>wadinisafe-5475f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507452744050:ios:1109c66ca2e312ba44fdeb</string>
</dict>
</plist>
